/bin/
.metadata
local.properties
.settings/
build.fxbuild

# Locally stored "Eclipse launch configurations"
*.launch

# Java annotation processor (APT)
.factorypath

# vscode launch.json settings
*.vscode