/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.hbox {
	-fx-background-color: black;
}

.button {
	-fx-background-color: green;
}

.black-background {
	-fx-background-color: black;
}